<div class="container home">

    <!-- Save the date-->
    <br>
    <div class="card cardExtraStyle">
        <img src="./assets/images/changeDate.jpg" class="card-img-top" alt="toto">
    </div>
    <br>

    <!-- Invitation informations-->
    <div class="card cardExtraStyle">
        <div class="card-body">
            <p class="card-text">
            <p class="card-text">
            <p class="card-text">
                {{ 'home.welcoming.1' | translate }} <br>
                {{ 'home.welcoming.2' | translate }} <br>
                {{ 'home.welcoming.3' | translate }} <br>
                {{ 'home.welcoming.4' | translate }} <br>
                <strong>{{ 'home.welcoming.4.date' | translate }}</strong>
                {{ 'home.welcoming.4.suite' | translate }}  <br>
                {{ 'home.welcoming.5' | translate }} <br>
                {{ 'home.welcoming.6' | translate }} <br>
                {{ 'home.welcoming.7' | translate }} <br>
                {{ 'home.welcoming.8' | translate }} <br>

                {{ 'home.welcoming.9' | translate}}
            </p>
        </div>
    </div>
    <br>
</div>
