<div class="container home">

    <!-- Save the date-->
    <br>
    <div class="card cardExtraStyle">
        <img src="./assets/images/homeImageBlackAndWhite.jpg" class="card-img-top" alt="toto">
    </div>
    <br>

    <!-- Invitation informations-->
    <div class="card cardExtraStyle">
        <div class="card-body">
            <p class="card-text">
            <p class="card-text">
            <p class="card-text">
                {{ 'home.welcoming.1' | translate }} <strong>{{ 'home.welcoming.1.date' | translate }}</strong> {{ 'home.welcoming.1.suite' | translate }}  <br>
                {{ 'home.welcoming.2' | translate }} <br>
                {{ 'home.welcoming.3' | translate}}
            </p>
        </div>
    </div>
    <br>
</div>