<div class="history container">
    <h1 class="display-3 storyTitles">Our story</h1>

    <!-- Story 1.1-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/1.1.jpg" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 2-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/2.JPG" class="card-img-top" alt="toto">
    </div>
    
    <!-- Stories 3, 4, and 5-->
    <div class="row">
      <div class="col">
        <!-- Story 3-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <img src="./assets/images/story/3.jpg" class="card-img-top" alt="toto">
        </div>
        <!-- Story 5-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <img src="./assets/images/story/5.jpg" class="card-img-top" alt="toto">
        </div>
      </div>
      <div class="col">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- Story 4-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <img src="./assets/images/story/4.jpg" class="card-img-top" alt="toto">
        </div>
      </div>
    </div>
    
    <!-- Story 6-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/6.jpg" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 7-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/7.jpg" class="card-img-top" alt="toto">
    </div>
    
    <h1 class="display-3 storyTitles">Our families</h1>
    
    <!-- Story 8-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/8.JPG" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 9-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/9.JPG" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 10.1-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/10.1.JPG" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 10.2-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/10.2.jpg" class="card-img-top" alt="toto">
    </div>
    
    <h1 class="display-3 storyTitles">What connect us</h1>
    
    <!-- Story 11-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/11.jpg" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 12-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/12.JPG" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 13-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/13.jpg" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 14-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/14.jpg" class="card-img-top" alt="toto">
    </div>
    
    <!-- Story 15-->
    <div class="card cardExtraStyle">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <img src="./assets/images/story/15.jpg" class="card-img-top" alt="toto">
    </div>
</div>