<div class="history container">
  <h1 class="display-3 storyTitles">{{ 'story.title.1' | translate }}</h1>

  <!-- Story 1-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.1.card' | translate }}</h5>
      <p class="card-text">{{ 'story.1' | translate }}
      </p>
    </div>
    <img src="./assets/images/story/1.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 2-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.2.card' | translate }}</h5>
      <p class="card-text">{{ 'story.2' | translate }}
      </p>
    </div>
    <img src="./assets/images/story/2.JPG" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Stories 3, 4, and 5-->
  <div class="row">
    <div class="col">
      <!-- Story 3-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ 'story.3.card' | translate }}</h5>
          <p class="card-text">{{ 'story.3' | translate }}</p>
        </div>
        <img src="./assets/images/story/3.jpg" class="card-img-top" alt="toto">
      </div>
      <br>
      <!-- Story 4-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ 'story.4' | translate }}</h5>
        </div>
        <img src="./assets/images/story/4.jpg" class="card-img-top" alt="toto">
      </div>
    </div>
    <div class="col">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <!-- Story 5-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ 'story.5.card' | translate }}</h5>
          <p class="card-text">{{ 'story.5' | translate }}</p>
        </div>
        <img src="./assets/images/story/5.jpg" class="card-img-top" alt="toto">
      </div>
    </div>
  </div>
  <br>

  <!-- Story 6-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.6' | translate }}</h5>
    </div>
    <img src="./assets/images/story/6.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 7-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.7' | translate }}</h5>
    </div>
    <img src="./assets/images/story/7.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <h1 class="display-3 storyTitles">{{ 'story.title.2' | translate }}</h1>

  <!-- Story 8-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.8' | translate }}</h5>
    </div>
    <img src="./assets/images/story/8.JPG" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 9-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.9' | translate }}</h5>
    </div>
    <img src="./assets/images/story/9.JPG" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 10-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.10' | translate }}</h5>
    </div>
    <img src="./assets/images/story/10.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <h1 class="display-3 storyTitles">{{ 'story.title.3' | translate }}</h1>

  <!-- Story 11-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.11' | translate }}</h5>
    </div>
    <img src="./assets/images/story/11.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 12-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.12' | translate }}</h5>
    </div>
    <img src="./assets/images/story/12.JPG" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 13-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.13' | translate }}</h5>
    </div>
    <img src="./assets/images/story/13.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 14-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.14' | translate }}</h5>
    </div>
    <img src="./assets/images/story/14.jpg" class="card-img-top" alt="toto">
  </div>
  <br>

  <!-- Story 15-->
  <div class="card cardExtraStyle">
    <div class="card-body">
      <h5 class="card-title">{{ 'story.15' | translate }}</h5>
    </div>
    <img src="./assets/images/story/15.jpg" class="card-img-top" alt="toto">
  </div>
  <br>
</div>